<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome To Text Analyzer</h1>
<form action="/analyze" method="get">
    <textarea name="text" spellcheck="true" style="margin: 0px; width: 359px; height: 87px;"></textarea>
    <br>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> Upper Case<br>
    <input type="checkbox" name="newlineremover"> New Line Remove<br>
    <input type="checkbox" name="extraspaceremover"> Extra Space Remover<br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyzing Your Text</title>
</head>
<body>
<h1>Your Analyze Text - {{purpose}} </h1>
<p>
    {{analyzed_text}}
</p>
</body>
</html>